body {
  width: 100%;
  height: 100%;
  margin: auto;
  
}

header {
  text-align: center;
}

#featured-property img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  
}

#featured-property figcaption {
  font-size: 80%;
  text-align: center;
}

#featured-property p {
  width: 800px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

nav a {
  background: grey;
  margin-left: 10px;
  margin-right: 10px;
}

#details {
  display: block;
}

#details div {
  float: left;
  background: red;
  width: 25%;
  text-align: center;
}
